:root{
    --main-color: #2eca7f;
    --white-color: white;
    --black-color: black;
    --border-radius: 10px;
    --transition: 0.4s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100vw;
    min-height: 100vh;
}
li{
    list-style: none;
    cursor: pointer;
}
/* start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end container */
/* start header  */
header{
    background-color: var(--main-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 106px;
}
header .user{
    display: flex;
    align-items: center;
}
header .user .img i{
    color: var(--main-color);
    background-color: var(--white-color);
    font-size: 50px;
    padding: 18px 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header .user .info{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-left: 5px;
    color: var(--white-color);
}
header .user .info h2{
    letter-spacing: 2px;
    margin-bottom: 8px;
}
header .links{
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}
header .links .title{
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
}
header .links ul{
    display: flex;
}
header .links ul li{
    margin: 0 10px 0 0;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
header .links ul li i{
    color: var(--main-color);
}
header .links ul li:hover{
    transform: translatey(-5px);
    -webkit-transform: translatey(-5px);
    -moz-transform: translatey(-5px);
    -ms-transform: translatey(-5px);
    -o-transform: translatey(-5px);
}
@media (max-width:768px) {
    header .user .img i{
        font-size: 30px;
        padding: 14px 16px;
    }
    header .user .info h2{
        font-size: 20px;
    }
    header .user .info span{
        font-size: 14px;
    }
    header .links .title{
        font-size: 16px;
    }
    header .links ul li{
        font-size: 16px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* end header  */
/* start main  */
section{
    width: 100vw; 
    height: calc(100vh - 106px);
    display: grid;
    grid-template-columns: 180px 1fr 1.3fr;
}
section nav{
    height: 100%;
}
section nav ul{
    margin-top: 40px;
    margin-bottom: 40px;
}
section nav ul li{
    color: var(--black-color);
    margin: 35px 30px;
    padding: 5px 0px 5px 10px;
    font-size: 18px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    position: relative;
}
section nav ul li:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--main-color);
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    left: -55px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
section nav ul li i{
    margin-right: 15px;
}
section nav ul li:hover{
    margin: 35px 15px 35px 40px;
    color: var(--main-color);
    background-color: rgba(238, 238, 238, 0.631);
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
}
section nav ul li:hover::before{
    left: -40px;
}
@media (max-width:992px) {
    section nav ul li{
        width: fit-content;
        padding: 5px 0 5px 15px;
    }
    section nav ul li span{
        display: none;
    }
}
section .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .img img{
    width: 350px;
}
section .text{
    padding-top: 100px;
    padding-bottom: 100px;
}
section .text h2{
    position: relative;
    margin-bottom: 20px;
}
section .text h2::before,
section .text h2::after{
    content: "";
    position: absolute;
    bottom: -10px;
    background-color: var(--main-color);
    width: 50px;
}
section .text h2::before{
    height: 10px;
    left: 0;
    border-radius: calc(var(--border-radius) * 5);
    -webkit-border-radius: calc(var(--border-radius) * 5);
    -moz-border-radius: calc(var(--border-radius) * 5);
    -ms-border-radius: calc(var(--border-radius) * 5);
    -o-border-radius: calc(var(--border-radius) * 5);
}
section .text h2::after{
    height: 2px;
    left: 45px;
    bottom: -6px;
    width: 70px;
}
section .text p{
    margin-bottom: 20px;
    line-height: 1.6;
}
section .text ul{
    margin-bottom: 20px;
}
section .text ul li{
    margin-bottom: 10px;
}
section .text button{
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 10px 15px;
    border: none;
    border-radius: var(--border-radius);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    -ms-border-radius: var(--border-radius);
    -o-border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
section .text button i{
    background-color: var(--white-color);
    color: var(--main-color);
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section .text button:hover{
    background-color: #26a768;
}
@media (max-width:922px) {
    section{
        grid-template-columns: 180px 1fr;
        grid-template-rows: 100% 100%;
        justify-content: center;
    }
    section .text{
        width: 50vw;
        margin: 0 350px;
    }
    body{
        overflow-y: visible;
    }
}
@media (max-width:768px) {
    section .img {
        display: none;
    }
    section .text{
        margin: -20px;
    }
    body{
        overflow: hidden;
    }
}
/* end main  */
